<div style="margin: 25px 0 25px">

    <!-- Election_Guide_320 -->
    <!-- <div class="show-for-small-only small-centered">
        <div id='div-gpt-ad-1411139973373-1' style='width:320px; height:50px;'>
            <script type='text/javascript'>
                googletag.cmd.push(function() {
                    googletag.display('div-gpt-ad-1411139973373-1');
                });
            </script>
        </div>
    </div> -->

    <!-- Election_Guide_728 -->
    <!-- <div class="show-for-medium-only small-centered">
        <div id='div-gpt-ad-1411139973373-2' style='width:728px; height:90px;'>
            <script type='text/javascript'>
                googletag.cmd.push(function() {
                    googletag.display('div-gpt-ad-1411139973373-2');
                });
            </script>
        </div>
    </div> -->

    <!-- Election_Guide_970 -->
    <!-- <div class="show-for-large-up small-centered"> 
        <div id='div-gpt-ad-1411139973373-3' style='width:970px; height:90px;'>
            <script type='text/javascript'>
                googletag.cmd.push(function() {
                    googletag.display('div-gpt-ad-1411139973373-3');
                });
            </script>
        </div>
    </div> -->
</div>

