<!-- <h3>Health care</h3> -->
{% if page.q1 %}<p>What should be done to address the country's health care system?</p>
    {{ page.q1 }}
{% endif %}
{% if page.q2 %}<p>If you oppose the Affordable Care Act or believe it should be modified, what are some of the alternatives you support?</p>
    {{ page.q2 }}
{% endif %}


<!-- <h3>National security</h3> -->
{% if page.q3 %}<p>What is the biggest threat to national security?</p>
    {{ page.q3 }}
{% endif %}
{% if page.q4 %}<p>Should the U.S. play a greater role in international affairs?</p>
    {{ page.q4 }}
{% endif %}
{% if page.q5 %}<p>Do you support or oppose the Obama administration's military strategy against the Islamic State?</p>
    {{ page.q5 }}
{% endif %}

<!-- <h3>Energy</h3> -->
{% if page.q6 %}<p>How can the U.S. ensure greater energy independence?</p>
    {{ page.q6 }}
{% endif %}
{% if page.q7 %}<p>Is climate change a problem? If so, what policies do you support to curb it?</p>
    {{ page.q7 }}
{% endif %}

<!-- <h3>Immigration</h3> -->
{% if page.q8 %}<p>What is the biggest issue facing our current immigration system?</p>
    {{ page.q8 }}
{% endif %}
{% if page.q9 %}<p>What policies or legislation do you support to address that issue?</p>
    {{ page.q9 }}
{% endif %}

<!-- <h3>Economy</h3> -->
{% if page.q10 %}<p>What is the biggest issue facing the U.S. economy?</p>
    {{ page.q10 }}
{% endif %}
{% if page.q11 %}<p>What policies or legislation do you support to address that issue?</p>
    {{ page.q11 }}
{% endif %}
{% if page.q12 %}<p>What spending cuts or changes to the tax code are needed to reduce the national debt?</p>
    {{ page.q12 }}
{% endif %}