<style>
.site-footer {

}
</style>

<div class="row site-footer">
    <footer>
        <div class="large-1 columns">&nbsp;</div>
        <div class="large-10 columns">
                
                <h5>About the guide</h5>
                <p>There are more than 60 candidates and ballot measures in Hamilton County's Nov. 4 election. Over the past few weeks, <a href="http://nooga.com">Nooga.com</a> sent the candidates brief surveys to help voters get a better understanding of the people who want to represent them in federal, state and local governments.</p>
            
        </div>
        <div class="large-1 columns">&nbsp;</div>
    </footer>
</div>
