    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="fb:app_id" content="{{ site.fb_appID }}" />
{% if page.race_name %}
    <meta property="og:url" content="http://election.nooga.com/candidates/{{ page.name_slug }}/" />
    <meta property="og:description" content="{{ page.title }} is running for {{ page.race_name }} in November. Learn more with the Hamilton County Election Guide on Nooga.com." />
    <meta property="og:image" content="http://election.nooga.com/img/{{ page.image }}" />
{% else %}
    <meta property="og:url" content="http://election.nooga.com" />
    <meta property="og:description" content="There are more than 60 candidates in the Hamilton County election on Nov. 4. That's a lot of names and faces to keep straight. Our election guide cuts through the noise and helps you focus on just the races that will appear on your ballot." />
    <meta property="og:image" content="http://election.nooga.com/img/{{ site.image }}" />
{% endif %}

