<h3>Issues</h3>

{% if page.q1 %}<p><em>Would you support or oppose an expansion of TennCare under the Affordable Care Act?</em></p>
    <p>{{ page.q1 }}</p>
{% endif %}
{% if page.q2 %}<p><em>Do you support or oppose more restrictions on abortion in Tennessee?</em></p>
    <p>{{ page.q2 }}</p>
{% endif %}
{% if page.q3 %}<p><em>What changes, if any, would you support for the state's Common Core education standards?</em></p>
    <p>{{ page.q3 }}</p>
{% endif %}
{% if page.q4 %}<p><em>Should the Hall income tax be reduced, repealed or kept in place?</em></p>
    <p>{{ page.q4 }}</p>
{% endif %}
