{% if page.q1 %}<p>Would you support or oppose an expansion of TennCare under the Affordable Care Act?</p>
    <p>{{ page.q1 }}</p>
{% endif %}
{% if page.q2 %}<p>Do you support or oppose more restrictions on abortion in Tennessee?</p>
    <p>{{ page.q2 }}</p>
{% endif %}
{% if page.q3 %}<p>What changes, if any, would you support for the state's Common Core education standards?</p>
    <p>{{ page.q3 }}</p>
{% endif %}
{% if page.q4 %}<p>Should the Hall income tax be reduced, repealed or kept in place?</p>
    <p>{{ page.q4 }}</p>
{% endif %}