{% if page.q1 %}<p>Would you support or oppose an expansion of TennCare under the Affordable Care Act?</p>
    {{ page.q1 }}
{% endif %}
{% if page.q2 %}<p>Do you support or oppose more restrictions on abortion in Tennessee?</p>
    {{ page.q2 }}
{% endif %}
{% if page.q3 %}<p>What changes, if any, would you support for the state's Common Core education standards?</p>
    {{ page.q3 }}
{% endif %}
{% if page.q4 %}<p>Should the Hall income tax be reduced, repealed or kept in place?</p>
    {{ page.q4 }}
{% endif %}