
<section id="custom-ballot">
  
  <noscript>
    <p><em>The election guide requires JavaScript.</em></p>
  </noscript>
  
  <form id="voter-form">
    <h3>What's on your ballot?</h3>
    <h4 class="subheader">Fill out the form to learn about your races.</h4>
    
      <div class="row">
        <div class="large-12 columns">
            <input type="text" id="streetAddress" placeholder="Street Address" />          
        </div>
      </div>

      <div class="row">
        <div class="large-8 columns">
            <input type="text" id="city" placeholder="City" />
        </div>

        <div class="large-4 columns">
            <input type="text" id="zipCode" placeholder="ZIP code" />
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
            <type="submit" id="button" class="button expand">Submit</a>
        </div>
      </div>
      <hr />
    </form>

    <div id="voter-races" class="row">
    </div>
</section>


