---
layout: default
---

<div class="row">
    <div class="large-3 columns">
        <img src="{{ site.baseurl }}/img/{{ page.image }}">
        <!-- <img src="{{ site.baseurl }}/img/default-avatar.png" /> -->
    </div>

    <div class="large-9 columns">
        <ul class="no-bullet">
            <small>
                {% if page.party %}<li>{{ page.party }}</li>{% endif %}
                {% if page.incumbent %}<li>Incumbent</li>{% endif %}
                {% if page.website %}<li><a href="{{ page.website }}">Website</li>{% endif %}
                {% if page.twitter %}<li><a href="{{ page.twitter }}">Twitter</li>{% endif %}
                {% if page.facebook %}<li><a href="{{ page.website }}">Facebook</li>{% endif %}
            </small>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="margin: 25px 0 0 0">
        
        <p>{{ page.title }} is running for {{ page.race_name }}.</p>
        {% if page.bio %}<p>{{ page.bio }}</p>{% endif %}

        {% include federal-survey.html %}
        {% include state-survey.html %}
        {% include municipal-survey.html %}

    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <!-- Opponents -->
    </div>
</div>
