---
layout: default
---

<div class="row">
    <div class="large-3 columns">
        <img src="{{ site.baseurl }}/img/{{ page.image }}">
        <!-- <img src="{{ site.baseurl }}/img/default-avatar.png" /> -->
    </div>

    <div class="large-9 columns">
        <ul class="no-bullet">
            <small>
                {% if page.party %}
                    {% if page.party != 'Independent' %}
                        <li>{{ page.party }} Party</li>
                    {% else %}
                        <li>Independent</li>
                    {% endif %}
                {% endif %}
                {% if page.incumbent %}<li>Incumbent</li>{% endif %}
                {% if page.website %}<li><a href="{{ page.website }}">Website</a></li>{% endif %}
                {% if page.twitter %}<li><a href="{{ page.twitter }}">Twitter</a></li>{% endif %}
                {% if page.facebook %}<li><a href="{{ page.website }}">Facebook</a></li>{% endif %}
            </small>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="margin: 25px 0 0 0">
        
        <p>{{ page.title }} is running for {{ page.race_name }}.</p>
        
        {% if page.bio %}
            <h3>Bio</h3>
            <p>{{ page.bio }}</p>
        {% endif %}

        {% if page.survey %}
            {% if page.jurisdiction == 'federal' %}{% include federal-survey.html %}{% endif %}
            {% if page.jurisdiction == 'state' %}{% include state-survey.html %}{% endif %}
            {% if page.jurisdiction == 'municipal' %}{% include municipal-survey.html %}{% endif %}
        {% endif %}

    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <!-- Opponents -->
    </div>
</div>
