---
layout: default
---

<div class="row">
    <div class="large-3 columns">
        <img src="{{ site.baseurl }}/img/{{ page.image }}">
    </div>

    <div class="large-9 columns">
        <ul class="no-bullet">

                {% if page.party %}
                    {% if page.party != 'Independent' %}
                        <li>{{ page.party }} Party</li>
                    {% else %}
                        <li>Independent</li>
                    {% endif %}
                {% endif %}
                {% if page.incumbent %}<li>Incumbent</li>{% endif %}
                {% if page.website %}<li><a href="{{ page.website }}">Website</a></li>{% endif %}
                {% if page.twitter %}<li><a href="{{ page.twitter }}">Twitter</a></li>{% endif %}
                {% if page.facebook %}<li><a href="{{ page.website }}">Facebook</a></li>{% endif %}

        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="margin: 10px 0 0 0">
        <p>{{ page.title }} is running for {{ page.race_name }}</small><br><small><a href="javascript:history.back()">Back to races</a></small></p>
        
        {% if page.bio %}
            <hr />
            <h3>Bio</h3>
            <p>{{ page.bio }}</p>
            <hr />
        {% endif %}


        {% if page.survey %}
            {% if page.jurisdiction == 'federal' %}{% include federal-survey.html %}{% endif %}
            {% if page.jurisdiction == 'state' %}{% include state-survey.html %}{% endif %}
            {% if page.jurisdiction == 'municipal' %}{% include municipal-survey.html %}{% endif %}
            <hr />
        {% else %}
            <p><em>This candidate has not completed the survey for our election guide.</em></p>
            <hr />
        {% endif %}
        
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        
        
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <!-- opponents -->
    </div>
</div>
