<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

      <!-- NAV, BANNER AD, HEADLINE -->
      {% include header.html %}
                       
      <!-- MAIN -->
      <div class="row">

        <div class="large-1 columns">&nbsp;</div> 

        <div class="large-7 columns">
          {{ content }}
        </div>

        <!-- SIDEBAR -->
        <div class="large-4 columns">

          <!-- SIDEBAR AD -->
          {% include sidebar-ad.html %}
        </div>
      </div>       

      {% include footer.html %}

      <!-- JAVASCRIPT -->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="{{ site.baseurl }}/js/vendor/fastclick.js"></script>
      <script src="{{ site.baseurl }}/js/foundation.min.js"></script>
      <script src="{{ site.baseurl }}/js/foundation/foundation.equalizer.js"></script>
      <script src="{{ site.baseurl }}/js/mustache.js"></script>
      <script src="https://apis.google.com/js/client.js"></script>
      <script src="{{ site.baseurl }}/js/voter-form.js" id="voterformjs" data-civic-api-key="{{ site.civicAPIKey }}"></script>
    </body>
</html>