<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include header.html %}                       
      <div class="row">
        <!-- main content window -->
        <div class="large-8 columns">
          
          {{ content }}
          
          <div class="about" style="color: gray">
            <h5>About this guide</h5>
            <p>There are more than 60 candidates in Hamilton County's Nov. 4 election. Over the past few weeks, <a href="http://nooga.com">Nooga.com</a> sent the candidates brief surveys to help voters get a better understanding of the people who want to represent them in federal, state and local governments. Our guide also features easy-to-read breakdowns of the amendments and ballot measures you'll see on election day.</p>
          </div>
        </div>

        <!-- sidebar -->
        <div class="large-4 columns">

          {% include sidebar-ad.html %}

        </div>
      </div>

      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="{{ site.baseurl }}/js/vendor/fastclick.js"></script>
      <script src="{{ site.baseurl }}/js/foundation.min.js"></script>
      <script src="{{ site.baseurl }}/js/foundation/foundation.equalizer.js"></script>
      <script src="{{ site.baseurl }}/js/mustache.js"></script>
      <script src="https://apis.google.com/js/client.js"></script>
      <script src="{{ site.baseurl }}/js/voter-form.js" id="voterformjs" data-civic-api-key="{{ site.civicAPIKey }}"></script>
    </body>
</html>